PS C:\Users\Husain Raja\OneDrive\Desktop\continue-0.9.251-vscode\core> git status
On branch update-branch
Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
        modified:   ../gui/package.json

no changes added to commit (use "git add" and/or "git commit -a")
PS C:\Users\Husain Raja\OneDrive\Desktop\continue-0.9.251-vscode\core> PS C:\Users\Husain Raja\OneDrive\Desktop\continue-0.9.251-vscode\core> git status
On branch update-branch
Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
        modified:   ../gui/package.json

no changes added to commit (use "git add" and/or "git commit -a")
PS C:\Users\Husain Raja\OneDrive\Desktop\continue-0.9.251-vscode\core> PS C:\Users\Husain Raja\OneDrive\Desktop\continue-0.9.251-vscode\core> git status
On branch update-branch
Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
        modified:   ../gui/package.json

no changes added to commit (use "git add" and/or "git commit -a")
PS C:\Users\Husain Raja\OneDrive\Desktop\continue-0.9.251-vscode\core> PS C:\Users\Husain Raja\OneDrive\Desktop\continue-0.9.251-vscode\core> git status
On branch update-branch
Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
        modified:   ../gui/package.json

no changes added to commit (use "git add" and/or "git commit -a")
PS C:\Users\Husain Raja\OneDrive\Desktop\continue-0.9.251-vscode\core> 
